<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
    <div>
        <header>
            <h1>Members Only</h1>
        </header>
        <h2 style="font-style: italic;">Welcome to members only club house</h2>
        <p style="max-width: 650px; text-align: center; line-height: 1.7;font-style:italic">
            This is where you can see people's message with anonymity on your part by reciprocity
            of your obscureness revealing on peoples you might want to see. you can only address
            this through uncovering your mask by joining the club
        </p>
        <!-- <a style="margin-top: 20px;" href="/messages">Look messages on your identity protected</a> -->
    </div>

    <div class="logs-regs">
        <button><a href="/login">Log in</a></button>
        <button><a href="/register">Register</a></button>
    </div>

    <footer>
        <span>Developer: </span><a href="https://github.com/zakymaky8/club-house" target="_blank">Zekaryas</a>
    </footer>
</body>
</html>